---
Checks: >
  -*,
  readability-*,
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: '^.*/(src|test)/.*\.(hpp|h)$'
FormatStyle: file

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MemberSuffix: '_'
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ConstantCase: lower_case
